@import url("css/theme.css");

.toggle .header {
    display: block;
    clear: both;
    padding-top: -10px;
    padding-bottom: 20px;
}

.toggle .header:after {
    content: " ▼";
}

.toggle .header.open:after {
    content: " ▲";
}

/* Custom colors */

.wy-side-nav-search, .wy-nav-top { /* above navigation, behind logo */
    background: #ffebcd; 
}

.icon.icon-home { /* link above logo */
    color: #f89f3d;
}

.version { /* version spec under logo */
    color: #f89f3d !important;
}

.highlight { /* code blocks */
    background: #fff7e9;
} 

.admonition-title { /* notes, title */
    background: #f89f3d !important; 
}

.admonition { /* notes */
    background: #ffebcd !important;
}

.label { /* citation keys */
    border-top: solid 3px #f89f3dff;
    background: #f89f3d33;
    font-weight: bold;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    color: black;
}

html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt {
    /* Class definitions */
    border-top: solid 3px #005248;
    border-left: none;
    background: #e4f3f2;
    color: black;
}
